In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

%matplotlib inline

## importin natural language processing labraries
import re
import nltk

In [2]:
dataset = pd.read_csv('Restaurant_Reviews.tsv', delimiter='\t',quoting=3)

In [3]:
dataset

                                                Review  Liked
0                             Wow... Loved this place.      1
1                                   Crust is not good.      0
2            Not tasty and the texture was just nasty.      0
3    Stopped by during the late May bank holiday of...      1
4    The selection on the menu was great and so wer...      1
..                                                 ...    ...
995  I think food should have flavor and texture an...      0
996                           Appetite instantly gone.      0
997  Overall I was not impressed and would not go b...      0
998  The whole experience was underwhelming, and I ...      0
999  Then, as if I hadn't wasted enough of my life ...      0

[1000 rows x 2 columns]

In [4]:
review = re.sub('[^a-zA-Z]', ' ', dataset['Review'][0])

In [5]:
review

'Wow    Loved this place '

In [6]:
review = review.lower()

In [7]:
review

'wow    loved this place '