In [16]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

%matplotlib inline

## importin natural language processing labraries
import re
import nltk

In [4]:
dataset = pd.read_csv('Restaurant_Reviews.tsv', delimiter='\t',quoting=3)

In [5]:
dataset.head()

                                              Review  Liked
0                           Wow... Loved this place.      1
1                                 Crust is not good.      0
2          Not tasty and the texture was just nasty.      0
3  Stopped by during the late May bank holiday of...      1
4  The selection on the menu was great and so wer...      1

In [8]:
dataset['Review'][20]

'The Burrittos Blah!'

In [11]:
review = re.sub('[^a-zA-Z]', ' ', dataset['Review'][0])

In [13]:
review

'Wow    Loved this place '

In [14]:
review = review.lower()

In [15]:
review

'wow    loved this place '

In [18]:
nltk.download('stopwords')

[nltk_data] Error loading stopwords: <urlopen error [Errno 11001]
[nltk_data]     getaddrinfo failed>

False