In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv('Ads_CTR_Optimisation.csv')

In [3]:
dataset.head()

   Ad 1  Ad 2  Ad 3  Ad 4  Ad 5  Ad 6  Ad 7  Ad 8  Ad 9  Ad 10
0     1     0     0     0     1     0     0     0     1      0
1     0     0     0     0     0     0     0     0     1      0
2     0     0     0     0     0     0     0     0     0      0
3     0     1     0     0     0     0     0     1     0      0
4     0     0     0     0     0     0     0     0     0      0

In [10]:
# implementing random selection

import math

N = 10000
d = 10

ads_selected = []
numbers_of_selections = [0] * d
sums_of_rewards = [0] * d
total_reward = 0

for n in range(0, N):
    ads = 0
    max_upper_bound = 0
    for i in range(0, d):
        if (numbers_of_selections[0] >0):
            avarage_reward = sums_of_rewards[i] / numbers_of_selections[i]
            delta_i = math.sqrt(3/2 * math.log(n +1) / numbers_of_selections[i])
            upper_bound = average_rewards + delta_i
            
        else:
            upper_bound = 1e400
            
        if upper_bound > max_upper_bound:
            max_upper_bound = upper_bound
            ads = i
        
        ads_selected.append(ads)
        numbers_of_selections[ads] = numbers_of_selections[ads] + 1
        reward = dataset.values[n, ads]
        sums_of_rewards[i] = sums_of_rewards[i] + reward
        total_reward = total_reward + reward

ZeroDivisionError: division by zero

In [ ]:
plt.hist(ads_selected)
plt.title('Histogram of ads selections')
plt.xlabel('Ads')
plt.ylabel('Number of times each ad was selected')
plt.show()